//font
$font:'Rubik', sans-serif;

$app-bg: hsl(270, 20%, 96%);

//gradient
$gradient-01: hsl(264, 100%, 61%);
$gradient-02: hsl(293, 100%, 63%);

//font colors
$mainheading: hsl(271, 36%, 24%);
$subheading: hsl(276, 100%, 81%);
$paragraph: hsl(270, 7%, 64%);

$receiver: hsl(276, 55%, 52%);
$sender: hsl(271, 15%, 43%);


$placeholder: hsl(206, 6%, 79%);